<app-dice [numbers]="[1]"></app-dice>
<app-dice [numbers]="[1, 1]"></app-dice>
<app-dice [numbers]="[1,1, 1]"></app-dice>
<app-dice [numbers]="[2, 2]"></app-dice>
<app-dice [numbers]="[2, 1, 2]"></app-dice>
<br/>
<app-dice [numbers]="[3, 3]"></app-dice>
<app-dice [numbers]="[2, 3, 2]"></app-dice>
<app-dice [numbers]="[3, 2, 3]"></app-dice>
<app-dice [numbers]="[3, 3, 3]"></app-dice>
<app-dice [numbers]="[3, 4, 3]"></app-dice>
<br/>
<app-dice [numbers]="[4, 3, 4]" [size]="150"></app-dice>
<app-dice [numbers]="[4, 4, 4]" [size]="150"></app-dice>
<app-dice [numbers]="[4, 5, 4]" [size]="150"></app-dice>
<app-dice [numbers]="[5, 4, 5]" [size]="150"></app-dice>
<app-dice [numbers]="[5, 5, 5]" [size]="150"></app-dice>
<br/>
<app-dice [numbers]="[4, 4, 4, 4]" [size]="200"></app-dice>
<app-dice [numbers]="[3, 4, 3, 4, 3]" [size]="200"></app-dice>
<app-dice [numbers]="[4, 3, 4, 3, 4]" [size]="200"></app-dice>
<app-dice [numbers]="[4, 4, 3, 4, 4]" [size]="200"></app-dice>
<app-dice [numbers]="[4, 4, 4, 4, 4]" [size]="200"></app-dice>
<br/>
<app-dice [numbers]="[4, 4, 5, 4, 4]" [size]="200"></app-dice>
<app-dice [numbers]="[4, 5, 4, 5, 4]" [size]="200"></app-dice>
<app-dice [numbers]="[5, 4, 5, 4, 5]" [size]="200"></app-dice>
<app-dice [numbers]="[5, 5, 4, 5, 5]" [size]="200"></app-dice>
<app-dice [numbers]="[5, 5, 5, 5, 5]" [size]="200"></app-dice>
