body {
  background-color: #fafafa;
  margin: 0;
  font-family: Verdana, Tahoma, sans-serif;
 }

.excersizeContainer {
  margin: 10px auto 0;
  display: flex;
  justify-content: space-between;
  width: 80%;
  font-size: 15vmin;
}

.excersizeContainer > span {
  cursor: pointer;
}

.correctAnswer {
  text-align: center;
  font-size: 150px;
  padding-top: 40px;
}

.option {
  margin-top: 10px;
  text-align: center;
  font-variant-caps: small-caps;
  margin-right: 20px;
}

div.levelSettings {
  margin: 15px;
}

span.levelSettings {
  background-color: #c48691;
  padding: 9px;
  border-radius: 6px;
}

html, body { height: 100%; }
