body {
  background-color: #fafafa;
  margin: 0;
  font-family: 'Verdana', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.excersizeContainer {
  margin: 10px auto 0;
  display: flex;
  justify-content: space-between;
}

.excersizeContainer > span {
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .excersizeContainer {
    width: 80%;
    font-size: 45px;
  }
}

@media screen and (max-width: 700px) and (min-width: 450px) {
  .excersizeContainer {
    width: 80%;
    font-size: 80px;
  }
}

@media only screen and (min-width: 700px) {
  .excersizeContainer {
    width: 600px;
    font-size: 120px;
  }
}

.correctAnswer {
  text-align: center;
  font-size: 150px;
  padding-top: 40px;
}

.option {
  margin-top: 10px;
  text-align: center;
  font-variant-caps: small-caps;
  margin-right: 20px;
}

div.levelSettings {
  margin: 15px;
}

span.levelSettings {
  background-color: #c48691;
  padding: 9px;
  border-radius: 6px;
}

html, body { height: 100%; }
